.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode nav{
    background-color: rgb(186,179,150);
    color: white;
}
.dark-mode section{
    background-color: rgba(0, 0, 0, 0.762);
}

.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}

.dark-mode .bg-white{
    background-color: rgb(5,10,79);

}
.dark-mode .text-gray-700{
    color: white;
}

/* mini game feature */
.card {
    width: 80px;
    height: 80px;
    background: #2563eb;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.card.flipped {
    background: #16a34a;
}